@import url("https://fonts.googleapis.com/css?family=Special+Elite");

:root {
  --shadow: rgba(0, 0, 0, 0.1) 2px 2px;
}

.App {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/jocko.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.quote-container {
  font-size: 2.3vw;
  font-family: "Special Elite", cursive;
  letter-spacing: 0.13em;
  color: white;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quote-bubble {
  display: flex;
  width: 54%;
  height: 40%;
  background: url("./images/background.jpg");
  background-position: center;
  rotate: 1deg;
  box-shadow: 2px;
}

.quote-bubble:after {
  position: absolute;
  content: url("./images/footprint.png");
  opacity: 0.2;
  rotate: 40deg;
  z-index: -1;
}

.quote {
  margin-top: 30%;
  margin: auto;
  align-self: center;
  /* color: #3f3f5a; */
  color: #2e3322;
  text-shadow: var(--shadow);
}

.getQuoteButton {
  display: block;
  position: absolute;
  bottom: 4rem;
  border: solid black;
  color: black;
  background-color: white;
  font-size: 1.5rem;
  padding: 1.2rem;
  font-family: inherit;
  text-shadow: var(--shadow);
  opacity: 0.85;
}

.getQuoteButton:hover {
  letter-spacing: 0.13em;
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}
.intro-text {
  font-size: 4em;
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 3px) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 5px) skew(-3deg);
  }
  62% {
    transform: translate(0, 1px) skew(2deg);
  }
}
.intro-text:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.intro-text:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
